article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

:root {
  --accent-color: #fb9c0f;
  --primary-color: #333;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}

.btn {
  padding: 1.5rem 8rem;
  font-size: 2rem;
  background-color: var(--accent-color);
  color: var(--primary-color);
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  font-weight: 700;
  border-radius: 5px;
  box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
  transition: transform .3s;
}
.btn:hover {
  transform: translateY(-3px);
}

.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 10px 100px rgb(0 0 0 / 10%);
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
}
.header__name {
  color: var(--primary-color);
  cursor: default;
  transition: color 0.3s;
}
.header__name:hover {
  color: var(--accent-color);
}
.header__name-sub {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}
.header__links {
  display: flex;
}
.header__link {
  display: inline-block;
  font-size: 1.6rem;
  color: var(--primary-color);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 2rem 3rem;
  transition: color 0.3s;
}
.header__link:hover {
  color: var(--accent-color);
}
.home {
  background: linear-gradient(
      to right,
      rgba(245, 245, 245, 0.9),
      rgba(245, 245, 245, 0.8)
    ),
    url(./common-bg.svg);
  background-position: center;
  height: 100vh;
  min-height: 80rem;
  max-height: 120rem;
  position: relative;
  /* background by SVGBackgrounds.com */
}
.home__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90rem;
  width: 92%;
}
.heading-primary {
  font-size: 6rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 800;
  text-align: center;
  color: var(--primary-color);
}
.home__info {
  margin: 3rem auto 0;
  max-width: 80rem;
}
.text-primary {
  color: var(--primary-color);
  font-size: 2.3rem;
  text-align: center;
  width: 100%;
  line-height: 1.6;
}
.home__cta {
  margin-top: 5rem;
  text-align: center;
}
